/*
    Created on : 15-Aug-2014, 11:57:32
    Author     : Sebastian
*/

html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
}

/* Main content wrappers */

#topNav {
  background-color: #aecad5;
}

#wrapper {
    height: 100%;
    width: 100%;
    padding: 5px;
    margin: 0 auto;
    background:  #FFF;
}

#contentWrapper {
    width: 100%;
    height: 100%;
}

#content {
/*     height: 100%; */
    overflow: auto;
    padding: 5px 0px;
    color: #444;
    margin: 0 auto;
    max-width: 1000px;
}

#headerWrapper {
   display: table-row;
   width: 100%;
}

#header {
    color: #888;
    width: 100%;
    padding: 10px 0px;
}

#header h1, .sub-header, .center {
    text-align: center;
}

#errorMessageWrapper {
    margin: 2px auto;
    padding: 2px;
    border-radius: 10px;
    display: none;
}

#errorMessage {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#averageNameInput {
    width: 80%;
}

#centralityMeasureParameterDiv {
    padding-left: unset;
    padding-right: unset;
}

#eigenvalueDiv {
    margin-bottom: 20px;
}

#groundTruthReference {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

/* General table */

.tableWrapper {
  margin: auto auto;
  padding: auto auto;
  max-width: 820px;
}

.buttonWrapper {
    text-align: center;
    margin-bottom: 10px;
}

.transparentButton {
    background-color: transparent;
    border-color: transparent;
}

.highlight {
    background-color:#2d68c6;
}

.sortable img {
    display: inline;
}

table {
    float: none;
    margin: auto auto;
}

th {
  white-space: nowrap;
  text-align: center;
}

th:last-child {

}



.table-striped tbody tr:nth-of-type(odd) {
  background-color: #e3f2fd;
}

#groupTable table tbody tr:nth-of-type(odd) {
  background-color: #F7F8E0;
}

.cover tbody tr:nth-of-type(odd) {
  background-color: #a9ddc7;
}

thead tr {

}

td {
    text-align: center;

}

td:last-child {
    border-right: none;
}

/* General icons */

.icon {
    margin-left: auto;
    margin-right: auto;
    width: 12px;
    height: 12px;
}

.iconBtn {
    cursor: pointer;
}

.pageControlWrapper {
    margin: 5px auto;
    padding: 5px;
    text-align: center;
}

.pageControl {
    display: inline-block;
    margin: auto auto;
    padding: 5px 20px;
    text-align: center;
    border-radius: 10px;
}

.pageLeftWrapper {
    padding: 0 20px;
    height: auto;
    width: auto;
    display: inline-block;
}

.pageRightWrapper {
    padding: 0 20px;
    height: auto;
    width: auto;
    display: inline-block;
}

.pageNumWrapper {
    padding: 0 5px;
    height: auto;
    width: auto;
    display: inline-block;
}

.pageLeft {
}

.pageRight {
}

.page-header {
  background-color: #eeeeee;
  padding: 0.5em 2em;
}

/* Form */

.submit {
    width: 40px;
    height: 40px;
    background-color: #2d73b2;
    border-radius: 20px;
    padding: 10px;
}

.submit:hover {
    background-color: #8ebae5;
}

.submitWrapper {
    vertical-align: middle;
    display: inline-block;
    padding: 10px;
    padding-left: 0px;
}

.formContentWrapper {
    width: 90%;
    padding-right: 10px;
    vertical-align: middle;
    display: inline-block;
}

.formDiv {
    display: table;
    padding: 20px;
    border-radius: 5px;
    margin: 0 auto;
}

.formTable {
    width: 100%;
    display: inline-block;
}

.formWrapper {
    display: inline;
}

.selectorWrapper .card {
    margin: 10px;
}

.selectorTitle {
    border-radius: 10px;
    padding: 5px 20px;
    text-align: center;
    font-weight: bold;
}

.selectorContent {
    background-color: #FFF;
    padding: 10px;
    border-radius: 10px;
}

/* General layout */

.hidden {
    display: none;
}

.parameterized {
    width: 550px;
}

.labelBlock {
    width: 100%;
}

/* Collapsable elements */

.collapsable {
    margin: 5px auto;
}

.collapsableHeader {
    background-color: #aecad5;
    border-radius: 2px;
    display: table;
    cursor: pointer;
}

.collapsableCollapser {
    display: table-cell;
    vertical-align: middle;
    padding: 5px 20px;
    width: auto;
}

.collapsableTitle {
    font-weight: bold;
    padding: 5px 20px;
    display: table-cell;
    vertical-align: middle;
    width: 99%;
}

.collapsableContent {
    display: none;
    padding: 5px;
    border-radius: 1px;
    border: 1px solid #DDDDDD;
}

.collapsableCollapseBtn {
    display: none;
}

.collapsableDisplayBtn {
    display: inline;
}

.in-line {
    display: inline-block;
}

.info-section {
    display: none;
}

/* OCD Viewer visualization elements */

.visualization {
    text-align: center;
}

.btn-group button {
    background-color: #6bc15a; /* Green background */
    font-weight: bold;
    border: 1px solid #01a701; /* Green border */
    color: #444444; /* White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
}

.btn-group button:not(:last-child) {
    border-right: none; /* Prevent double borders */
}

/* Clear floats (clearfix hack) */
.btn-group:after {
    content: "";
    clear: both;
    display: table;
}

/* Add a background color on hover */
.btn-group button:hover {
    background-color: #3e8e41;
}

.optionRow {
    margin: auto;
    margin-bottom: 3px;
    min-width: 300px; /* most: 958px */
}

/* Dropdown Button */
.dropDownOpenButton {
    background-color: #6098c6;
    width: auto;
    height: 100%;
    font-weight: bold;
    color: #444444;
    padding: 10px 12px;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropDownOpenButton:hover, .dropDownOpenButton:focus {
    background-color: #598db6;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

.dataBaseDropDown {
    margin: 1px 0.2px 0px 2px;
    padding: 0;
    float: left;
}

.searchDropDown {
    margin: 1px 5px 0px 0px;
    padding: 0;
    float: left;
}

.toolsDropDown {
    position: relative;
    margin: 1px 0.5% 0px 0px;
    padding: 0;
    float: right;
}

.tool-dot {
    height: 10px;
    width: 10px;
    background-color: #828282;
    border-radius: 50%;
    float: right;
    display: inline-block;
}

.toolsDropDownDots {
    margin-left: 5px;
    height: 40px;
    width: 10px;
}

/* toolsDropdown on hover & focus */
.toolsDropDownDots:hover .tool-dot{
    background-color: #2f2f2f;
    cursor: pointer;
}
.toolsDropDownDots:hover{
    cursor: pointer;
}

/* Dropdown Content (Hidden by Default) */
.toolsFormDropDown {
    display: none;
    position: absolute;
    top: 48px;
    right: 0px;
    background-color: #f1f1f1;
    width: 170px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.saveJsonForm {
    width: auto;
    margin: auto;
}

.saveJsonFormButton {
    width: auto;
}

/* Dropdown Content (Hidden by Default) */
.dataBaseDropDownContent {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
/* Dropdown Content (Hidden by Default) */
.nodeSearchFormDropDown {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 4px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dataBaseDropDownContent a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dataBaseDropDownContent a:hover {background-color: #ddd}

.dropDownCloseButton {
    width: auto;
}

.nodeSearchForm {
    width: auto;
    margin: auto;
}

/* Show the dropdown menu */
.show {display:block;}

.graphSelect {
    height: 25px;
    width: auto;
}

.sliderText {
    position: relative;
    height: 18px;
    width: 60px;
    left: 2.5px;
    bottom: 1px;
    float:left;
}

.sliderBox {
    position: relative;
    height: 18px;
    width: 30px;
    left: 64.5px;
    top: 4px;
}

/* The switch - the box around the slider */
.collapsableContentSwitch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 12px;
}

/* Hide default HTML checkbox */
.collapsableContentSwitch {
    opacity: 0;
    width: 1px;
    height: 1px;
    left: 30px;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 17px;
}

.slider.round:before {
    border-radius: 50%;
}

.visualizationZoomer {
    width: 50%;
}

.visualizationContent {
    display: block;
    margin: auto;
    vertical-align: middle;
}

.visualizationGraphic {
}

.forceVisualizationContent {
    margin: auto;
    margin-top: 2px;
    display: block;
    vertical-align: middle;
}

.forceVisualizationGraphic {
}

/* Additional */

.mynavbar-custom {
    background-color: #2d73b2;
}
.mynavbar-custom .navbar-brand {
    color: #fafafa;
    line-height: 30px;
}

/* Color */
.graphColor {
  background-color: #e3f2fd;
}

.graphColor .jumbotron {
  background-color: #e3f2fd;
  margin-bottom: 1rem;
}

.coverColor {
  background-color: #ccffcc;
}

.simulationColor {
  background-color: #F7F8E0;
}

.simulationColor .jumbotron {
  background-color: #F7F8E0;
  margin-bottom: 0;
}

.centralityColor {
    background-color: #ffeecc;
}

.deleteColor {
    background-color: #ffcccc;
}

/* side-nav */

.side-nav ul li {
  padding:0px 4px;
  margin: auto auto;
  width:100%;
  text-align: center;
}

/* Move down content because we have a fixed navbar */
.login-body {
	padding-top: 60px;
	padding-bottom: 20px;
}

.myrow{
	padding: 15px;
	margin: 0px;
	background-color: #fff;
}

.separate-row{
    background-color: #2d73b2;
    color: #fafafa;
}
