#descriptiveVisualization #currentOperationBox {
  background-color: white;
  border: 1px solid black; 
  padding: 3px;
  overflow-y: scroll;
  max-height: 400px; 
  position: absolute; 
  left: 0;
  transform: translateX(5%);
  text-align: left;
  width: 18%;
}

#descriptiveVisualization #activeColorBox {
  background-color: white;
  border: 1px solid black; 
  padding: 3px;
  overflow-y: scroll;
  max-height: 400px; 
  position: absolute; 
  right: 0;
  transform: translateX(-5%);
  text-align: left;
  width: 14%;
}

#descriptiveVisualization #operationBoxTitle {
  font-weight: bold;
  margin-bottom: 10px;
}

#descriptiveVisualization #colorBoxTitle {
  font-weight: bold;
  margin-bottom: 10px;
}

#descriptiveVisualization #graph {
  position: absolute; 
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid black; 
}

#simulateButton {
  position: absolute;
  left: 2%;
}

#descriptiveVisualization .prevButton {
  background-image: url('buttons/prev.svg');
  width: 2.22%;
  height: 4.0%;
  background-repeat: no-repeat;
  background-size: contain;
  position: fixed;
  bottom: 2%;
  left: 46.21%;
  transform: translateX(-46.21%);
}
 
#descriptiveVisualization .playButton {
  background-image: url('buttons/play.svg');
  width: 2.22%;
  height: 4.0%;
  background-repeat: no-repeat;
  background-size: contain;
  position: fixed;
  bottom: 2%;
  left: 48.93%;
  transform: translateX(-48.93%);
}

#descriptiveVisualization .stopButton {
  background-image: url('buttons/stop.svg');
  width: 2.22%;
  height: 4.0%;
  background-repeat: no-repeat;
  background-size: contain;
  position: fixed;
  bottom: 2%;
  left: 51.65%;
  transform: translateX(-51.65%);
}

#descriptiveVisualization .nextButton {
  background-image: url('buttons/next.svg');
  width: 2.22%;
  height: 4.0%;
  background-repeat: no-repeat;
  background-size: contain;
  position: fixed;
  bottom: 2%;
  left: 54.37%;
  transform: translateX(-54.37%);
}
